<!DOCTYPE html>
<html lang="en" ng-app="mailComposeApp">
  <head>
    <title>Zeemail</title>
    <link href="content/css/style.css" rel="stylesheet" type="text/css" />
    <link href="content/css/quill.css" rel="stylesheet" type="text/css" />

    <script src="app\lib\angular.min.js"></script>
    <script
      data-require="underscore.js@*"
      data-semver="1.6.0"
      src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.6.0/underscore-min.js"
    ></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="app\app.js"></script>
    <script src="app\controllers.js"></script>
    <script src="app\directives.js"></script>
    <script defer src="app\lib\all.js"></script>
  </head>
  <body>
    <p class="title">ZeeMail</p>
    <div class="main-container">
      <header>Compose</header>
      <div class="top-container" ng-controller="mainController">
        <!-- recipient field -->
        <div class="recipient text-item textcolor">
          <div class="to-mail-ids">
            <div class="to-recipient">
              <div email-tags="" type="text" ng-model="emailid" edit=""></div>
            </div>
            <div class="cc-bcc">
              <a ng-if="showccbtn" ng-click="ccFunction()">Cc</a>
              <a ng-if="showbccbtn" ng-click="bccFunction()">Bcc</a>
            </div>
          </div>
          <div
            cc-tags=""
            ng-if="showCc"
            type="text"
            ng-model="ccmails"
            edit=""
          ></div>
          <div
            bcc-tags=""
            ng-if="showBcc"
            type="text"
            ng-model="bccmails"
            edit=""
          ></div>
        </div>

        <!-- the subject field -->
        <div class="subject">
          <input type="text" placeholder="Subject" />
        </div>
      </div>

      <!-- text editor field-->

      <div id="editor"></div>
      <!-- attach and send -->
      <div ng-controller="attachController">
        <div class="files-container">
          <div ng-repeat="file in files" class="uploaded-files">
            <div class="upload-files">
              <h5>{{file.name}}</h5>
              <a ng-click="removeAttach(file)">x</a>
            </div>
          </div>
        </div>

        <footer>
          <input id="fileupload" type="file" ng-file-model="files" multiple />
          <button class="not-btn" ng-click="click()">
            <i class="clip fas fa-paperclip"></i>
          </button>
          <button class="send-btn" ng-click="submit()" value="Send">
            Send
          </button>
        </footer>
      </div>
    </div>

    <script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>

    <script>
      var quill = new Quill("#editor", {
        theme: "snow",
      });
    </script>
    <script src="/__/firebase/8.6.5/firebase-app.js"></script>
    <script src="/__/firebase/init.js"></script>
  </body>
</html>
